
<p>****boucle if***</p>
<div *ngIf="open; else by">hello</div>
<ng-template #by>
  <div>
    goodby
  </div>
</ng-template>
<p>******1*****</p>
 <div *ngFor="let i of arr">
  {{i}}
</div>
 <p>*****2*****</p>
<div *ngFor="let i of arr1">
  {{i.name}}
  {{i.age}}
</div>
<p>*****3******</p>
<div *ngFor="let i of arr1; index as y">
  {{y+1}}-{{i.name}} - {{i.age}}
</div>
<p>*****4******</p>
<div *ngFor="let i of arr1;index as y; first as x"[style.color]="x? 'green':'red'">
  {{y+1}}-{{i.name}} - {{i.age}}
</div>
<p>*******5****</p>
<input type="text"  [(ngModel)]="num" />
 <div [ngSwitch]="num">
  <div *ngSwitchCase="1">1</div>
  <div *ngSwitchCase="2">2</div>
  <div *ngSwitchCase="3">3</div>
  <div *ngSwitchCase="4">4</div>
  <div *ngSwitchCase="5">5</div>
  <div *ngSwitchDefault="">error</div>
</div>  